#root {
  max-width: 1280px;
  padding: 2rem;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 1rem;
}

ul {}

.li-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}